.label {
	-fx-padding: 5.0px;
    -fx-min-width: 200.0;
    -fx-max-width: 2000.0;
  	-fx-alignment: center;
}

#controlArea {
    -fx-spacing: 15.0px;
    -fx-padding: 5.0px;
    -fx-border-width: 2.0px;
}

.player {
	-fx-padding: 5.0px;
    -fx-border-width: 2.0px;
    -fx-font-size: 13px;
    -fx-text-fill: White;
    
}

.card {
  -fx-font-size: 18px;
	-fx-padding: 2.0px;
    -fx-border-color: black;
    -fx-border-width: 1.0px;
	-fx-background-color: White;
    -fx-min-width: 50;
    -fx-pref-width: 111;
    -fx-max-width: 500;
    -fx-min-height: 80;
    -fx-pref-height: 160;
    -fx-max-height: 800;
}

.cardnull{
	-fx-font-size: 18px;
	-fx-padding: 2.0px;
    -fx-border-width: 1.0px;
	-fx-background-color: null;
    -fx-min-width: 50;
    -fx-pref-width: 111;
    -fx-max-width: 500;
    -fx-min-height: 80;
    -fx-pref-height: 162;
    -fx-max-height: 800;
	
}
.button{
	-fx-font-size: 18px;
	-fx-text-fill: black;
	-fx-background-color:grey;
	-fx-background-radius: 2;
	
}


.button:hover{
	-fx-font-size: 18px;
	-fx-background-color: black;
	-fx-text-fill: white;
	-fx-background-radius: 16;
}

.root{
	-fx-background-image: url("../../images/PokerBackground.jpg");
	-fx-cursor: hand;
}




